<section>
    <div  class="d-flex justify-content-end">
        <div class="form-group d-flex mt-2" [formGroup]="form">
            <input class="form-control mr-2" style="width:265px;" type="text" placeholder="unesite korisnicko ime dostavljaca" formControlName="username">
            <button [disabled]="!form.valid && form.pristine" class="btn btn-success" style="margin-left: 5px;" (click)="search()">search</button>
        </div>
    </div>
    <section *ngIf="orders">
        <section class="container-fluid">
            <div class="d-flex justify-content-between">
              <button
                id="filter-button"
                class="btn btn-success my-4"
                style="width: 130px"
                (click)="toggleFilter()"
              >
                Filteriraj
              </button>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div
                  id="filter-holder"
                  class="col-6"
                  [style.height]="isExpanded ? '250px' : '0'"
                  style="height: 0; overflow: auto; transition: 0.5s ease-in-out"
                >
                  <div class="form-check mb-4">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      [(ngModel)]="selectedFilterStatus"
                      (change)="onFilterStatusChange()"
                    >
                      <option value="" selected>ALL</option>
                      <option
                        *ngFor="let status of possible_options"
                        value="{{ status }}"
                      >
                        {{ status }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </section>

    </section>
    <div>
        <app-list-orders (notify)="loadData()" [orders]="orders"></app-list-orders>
    </div>
</section>