<section>
    <div style="margin-top: 50px;" class="container">
      <div class="row">
        <div class="col-12 my-3">
          <div class="card" style="width: 50%">
            <div class="card-body">
              <h5 class="card-title">Marko Markovic</h5>
              <p
                class="card-text"
                style="max-height: 100px; overflow: auto"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus consectetur minus dicta eaque nesciunt vitae
                fugiat similique commodi labore, animi facilis quae
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <div class="card" style="width: 50%">
            <div class="card-body">
              <h5 class="card-title">Marko Markovic</h5>
              <p
                class="card-text"
                style="max-height: 100px; overflow: auto"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus consectetur minus dicta eaque nesciunt vitae
                fugiat similique commodi labore, animi facilis quae
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <div class="card" style="width: 50%">
            <div class="card-body">
              <h5 class="card-title">Marko Markovic</h5>
              <p
                class="card-text"
                style="max-height: 100px; overflow: auto"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus consectetur minus dicta eaque nesciunt vitae
                fugiat similique commodi labore, animi facilis quae
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <div class="card" style="width: 50%">
            <div class="card-body">
              <h5 class="card-title">Marko Markovic</h5>
              <p
                class="card-text"
                style="max-height: 100px; overflow: auto"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus consectetur minus dicta eaque nesciunt vitae
                fugiat similique commodi labore, animi facilis quae
              </p>
              <div>
                <span class="bi bi-star-fill text-danger "></span>
                <span class="bi bi-star-fill text-danger "></span>
                <span class="bi bi-star-fill text-danger "></span>
                <span class="bi bi-star-fill text-danger "></span>
                <span class="bi bi-star-fill text-danger"></span>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>