<section
  *ngIf="orders"
  style="margin-top: 50px; margin-left: 20px"
  class="w-75"
>
  <section *ngIf="this.orders">
    <section class="container-fluid">
      <div class="d-flex justify-content-between">
        <button
          id="filter-button"
          class="btn btn-success my-4"
          style="width: 130px"
          (click)="toggleFilter()"
        >
          Filter
        </button>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div
            id="filter-holder"
            class="col-6"
            [style.height]="isExpanded ? '250px' : '0'"
            style="height: 0; overflow: auto; transition: 0.5s ease-in-out"
          >
            <div class="form-check mb-4">
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="selectedFilterStatus"
                (change)="onFilterStatusChange()"
              >
                <option value="" selected>ALL</option>
                <option
                  *ngFor="let status of possible_options"
                  value="{{ status }}"
                >
                  {{ status }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <table class="table table-bordered table-fit mx-auto">
    <thead>
      <tr>
        <th scope="col">Vreme kreiranja</th>
        <th scope="col">Adresa</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">{{ formatDateTime(order.created_at) }}</th>
        <td>{{ order.address }}</td>
        <td>
          <select
            class="form-select"
            aria-label="Default select example"
            [disabled]="order.order_status == 'FINISHED'"
            [(ngModel)]="order.order_status"
            (change)="changedStatus(order)"
          >
            <option selected value="{{ order.order_status }}">
              {{ order.order_status }}
            </option>
            <option
              *ngFor="let status of checkStatusOptions(order)"
              value="{{ status }}"
            >
              {{ status }}
            </option>
          </select>
        </td>

        <td class="text-center">
          <button class="btn" (click)="onDetailedView(order.id)">
            <i class="bi bi-search" title="pogledaj detaljnije"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
