<section>
    <div *ngIf="authService.isAdmin()" class="d-flex justify-content-end">
        <div class="form-group d-flex mt-2" [formGroup]="form">
            <input class="form-control mr-2" style="width:265px;" type="text" placeholder="unesite korisnicko ime dostavljaca" formControlName="username">
            <button [disabled]="!form.valid && form.pristine" class="btn btn-success" style="margin-left: 5px;" (click)="search()">search</button>
        </div>
    </div>
    
    <div>
        <div *ngFor="let review of delivererReviews">
            <app-deliverer-review [review]="review" [seeOrder]="true"></app-deliverer-review>
        </div>
    </div>
</section>