<body>
    <section
      class="w-25 d-flex m-auto container"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 80vh;
      "
    >
      <div class="row">
        <form [formGroup]="registrationForm" class="border" style="padding: 30px 150px">
          <div class="mb-0">
            <label for="formGroupExampleInput" class="form-label"></label>
            <input
            style="width:200px;"
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="First name"
              formControlName="firstName"
            />
          </div>
          <div class="mb-0">
            <label for="formGroupExampleInput1" class="form-label"></label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput1"
              style="width:200px;"
              placeholder="Last name"
              formControlName="lastName"
            />
          </div>
          <div class="mb-0">
            <label for="formGroupExampleInput2" class="form-label"></label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              style="width:200px;"
              placeholder="username"
              formControlName="username"
            />
          </div>
          <div class="mb-0">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              style="width:200px;"
              placeholder="Email address"
              formControlName="email"
            />
          </div>
          <div class="mb-0">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              style="width:200px;"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword2" class="form-label"></label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword2"
              style="width:200px;"
              placeholder="confirm password"
              formControlName="pwConfirm"
            />
          </div>
          <div *ngIf="authService.isAdmin()" class="mb-3">
            <select id="select" class="form-select" aria-label="Default select example" formControlName="role">
              <option value="PHARMACIST">Pharmacist</option>
              <option value="DELIVERER">Deliverer</option>
            </select>
          </div>
          <label *ngIf="success" style="color:green">registration successful</label>
          <label *ngIf="errorMessage" style="color:red">{{errorMessage}}</label><br>
          <button [disabled]="!registrationForm.valid" (click)="createUser()" class="btn btn-success">Registrate</button>
        </form>
      </div>
    </section>
    
  </body>
