<body>
    <section class="container mt-5">
      <div class="row">
        <div class="col-6">
          <form [formGroup]="form">
            <input
              formControlName="productName"
              type="text"
              placeholder="naziv proizvoda"
              class="form-control"
            />
            <br />

            <input
              formControlName="price"
              class="form-control"
              type="number"
              placeholder="cijena proizvoda"
            />
            <br />
            <div class="d-flex align-items-center">
              <img
                *ngIf="this.currentImage !== ''"
                style="width: 150px; height: 200px"
                [src]="'../IMAGES/'+this.currentImage"
                class="flex-shrink-0"
              /><br />
              <input
                class="form-control"
                type="file"
                name="image"
                (change)="onFileSelected($event)"
              />
            </div>

            <textarea
              formControlName="description"
              class="form-control mt-3"
              placeholder="opis"
              rows="4"
              cols="50"
            ></textarea>
            <br />
            <div class="form-check form-switch">
              <input
                formControlName="available"
                type="checkbox"
                class="form-check-input"
                id="checkbox1"
                role="switch"
              />
              <label class="form-check-label" for="checkbox1">
                dostupno
              </label>
            </div>

            <button
              [disabled]="(!form.valid || form.pristine) && base64Image == ''"
              (click)="onChangeProduct()"
              class="btn btn-success mt-3"
            >
              sacuvaj promjene
            </button>
          </form>
        </div>
      </div>
    </section>
    
  </body>