<body>
    <section
    *ngIf="user != undefined"
      class="w-25 d-flex m-auto container"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 80vh;
      "
    >
      <div class="row">
        
        <form [formGroup]="form" class="border" style="padding: 30px 150px">
            <img src="../../../../../assets/profile-user.jpg" height="150px;" width="250px;">
          <div class="mb-0">
            <label for="formGroupExampleInput" class="form-label"></label>
            <input
            [readonly]="!isMyProfile && !authService.isAdmin()"
            style="width:200px;"
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Ime"
              formControlName="firstName"
            />
          </div>
          <div class="mb-0">
            <label for="formGroupExampleInput1" class="form-label"></label>
            <input
            [readonly]="!isMyProfile && !authService.isAdmin()"
              type="text"
              class="form-control"
              id="formGroupExampleInput1"
              style="width:200px;"
              placeholder="Prezime"
              formControlName="lastName"
            />
          </div>
          <div class="mb-0">
            <label for="formGroupExampleInput1" class="form-label"></label>
            <input
              readonly
              type="text"
              class="form-control"
              id="formGroupExampleInput1"
              style="width:200px;"
              placeholder="korisnicko ime"
              formControlName="username"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input
            [readonly]="!isMyProfile && !authService.isAdmin()"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              style="width:200px;"
              placeholder="Email adresa"
              formControlName="email"
            />
          </div>
          <div class="mb-2">
            <label *ngIf="successChanged" style="margin-bottom: 10px; color: green;"> podaci uspjesno promjenjeni</label>
          <button style="margin-right: 5px; margin-bottom: 5px;" *ngIf="isMyProfile || authService.isAdmin()" [disabled]="!form.valid || form.pristine" type="submit" (click)="saveChanges()" class="btn btn-success">Sacuvaj promjene</button> <br>
          <button *ngIf="!isMyProfile && !authService.isPharmacist() && !authService.isDeliverer()"  type="submit" (click)="blockUser()" class="btn btn-success">blokiraj korisnika</button>
          </div>
          
        </form>
      </div>
    </section>
    
  </body>

