<body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand fw-medium" [routerLink]="['/']">Apoteka plus plus</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="ms-auto">
              <a
                class="ms-5 text-decoration-none fs-4 fw-medium text-dark"
                (click)="onOrders()"
                >Narudzbine</a
              >
              <a class="ms-5 text-decoration-none text-success fs-3" (click)="clickCart()"
                ><i class="bi bi-cart-fill"></i
              ></a>
              <div class="dropdown">
                <button
                  class="btn btn-outline-success ms-5 dropbtn"
                  type="button"
                >
                  <i class="bi bi-person"></i>
                </button>
                <div class="dropdown-content">
                  <button class="w-100 mt-2 border-0 button-style">
                    <a class="text-decoration-none" href="#">Profil</a>
                  </button>
                  <button (click)="logout()"class="w-100 mt-2 border-0 button-style">
                    <a class="text-decoration-none" >Odjavi se</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>