<section *ngIf="orders" style="margin-top: 50px;margin-left:20px;" class="w-75">
  <section *ngIf="orders">
    <section class="container-fluid">
        <div class="d-flex justify-content-between">
          <button
            id="filter-button"
            class="btn btn-success my-4"
            style="width: 130px"
            (click)="toggleFilter()"
          >
            Filter
          </button>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div
              id="filter-holder"
              class="col-6"
              [style.height]="isExpanded ? '250px' : '0'"
              style="height: 0; overflow: auto; transition: 0.5s ease-in-out"
            >
              <div class="form-check mb-4">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="selectedFilterStatus"
                  (change)="onFilterStatusChange()"
                >
                  <option value="" selected>ALL</option>
                  <option
                    *ngFor="let status of possible_options"
                    value="{{ status }}"
                  >
                    {{ status }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </section>

</section>
    <table class="table table-bordered table-fit mx-auto">
      <thead>
        <tr>
          <th scope="col">Vreme kreiranja</th>
          <th scope="col">Dostava</th>
          <th scope="col">Adresa</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
          <th scope="col" *ngIf="!(authService.isCustomer() || authService.isDeliverer())"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <th scope="row">{{formatDateTime(order.created_at)}}</th>
          <td class="text-center" *ngIf="order.delivery"><i class="bi bi-check-circle-fill"></i></td>
          <td class="text-center" *ngIf="!order.delivery"><i class="bi bi-x-circle-fill"></i></td>
          <td *ngIf="order.address != null">{{order.address}}</td>
          <td class="text-center" *ngIf="order.address == null"><i class="bi bi-slash-lg"></i></td>
          <td>
            <select *ngIf="!(authService.isCustomer() || authService.isDeliverer())" class="form-select" aria-label="Default select example"  [(ngModel)]="order.order_status" (change)="changedStatus(order)">
              <!-- <option selected value="{{order.order_status}}">{{order.order_status}}</option> -->
              <option *ngFor="let status of status_options" value="{{status}}" [selected]="status === order.order_status" >{{status}}</option>
            </select>
            <select *ngIf="authService.isDeliverer()" class="form-select" aria-label="Default select example" [disabled]="order.order_status != 'DELIVERY IN PROGRESS'" [(ngModel)]="order.order_status" (change)="changedStatus(order)">
              <!-- <option selected value="{{order.order_status}}">{{order.order_status}}</option> -->
              <option *ngFor="let status of status_options" value="{{status}}" [selected]="status === order.order_status" >{{status}}</option>
            </select>
            <select *ngIf="authService.isCustomer()" class="form-select" aria-label="Default select example" [disabled]="order.order_status != 'CREATED'" [(ngModel)]="order.order_status" (change)="changedStatus(order)">
              <option selected value="{{order.order_status}}">{{order.order_status}}</option>
              <option *ngFor="let status of status_options" value="{{status}}" >{{status}}</option>
            </select>
          </td>
          <td class="text-center"><button class="btn" (click)="onDetailedView(order.id)"><i class="bi bi-search" title="pogledaj detaljnije"></i></button></td>
          <td *ngIf="!(authService.isCustomer() || authService.isDeliverer())" class="text-center">
            <button *ngIf="canDelete(order)" (click)="openModal(sureModal, order.id)" type="button" class="btn btn-danger">
              <i class="bi bi-trash" title="delete order"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #sureModal let-modal>
      <div class="modal-header">
       <h5 class="modal-title" id="userLabel">Jeste li sigurni da zelite izbrisati proizvod iz narudzbe?</h5>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">&times;</button>
        
      </div>
      
    
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="deleteOrder()">Yes</button>
         <button type="button" class="btn btn-danger" (click)="modal.dismiss()" >No</button>
        </div>
       
    
    </ng-template> 
  </section>
  