<body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div >
            <span [routerLink]="['/']" class="fs-3 fw-medium" style="cursor: pointer;">Apoteka plus plus</span>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
              <button  [routerLink]="['/auth/signin']" class="btn btn-outline-success me-3" type="button">
                Prijavi se
              </button>
              <button  [routerLink]="['/auth/signup']" class="btn btn-outline-success" type="button">
                Registruj se
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
  </body>