<body>
  <section class="container mt-5">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="form">
          <input
            formControlName="productName"
            type="text"
            placeholder="name of product"
            class="form-control"
          />
          <br />

          <input
            formControlName="price"
            type="number"
            placeholder="price of product"
            class="form-control"
          />
          <br />
          <input
            type="file"
            name="image"
            (change)="onFileSelected($event)"
            class="form-control"
          />
          <textarea
            formControlName="description"
            placeholder="description.."
            rows="4"
            cols="50"
            class="form-control mt-4"
          ></textarea>
          <br />

          <button
            [disabled]="!form.valid"
            (click)="onCreateProduct()"
            class="btn btn-success mb-3"
            id="add-button"
            type="button"
          >
            create product
          </button>
        </form>
        <span id="succesfully-added" class="text-success invisible"
          >Succesfully created product!</span
        >
      </div>
    </div>
  </section>
  
</body>