.table-fit {
    table-layout: auto;
    width: 100%;
    white-space: nowrap;
}

.table-fit th,
.table-fit td {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    min-width: 150px;
    /* Opciono, za centriranje sadrÅ¾aja vertikalno */
}